@keyframes slideLeft
	from
		opacity: 0
		transform: translateX(200px)
	to
		opacity: 1
		transform: translateX(0px)

@keyframes slideUp
	from
		opacity: 0
		transform: translateY(50px)
	to
		opacity: 1
		transform: translateY(0px)

.animateSlideLeft
	animation: slideLeft .7s ease-in-out

.animateSlideUp
	animation: slideUp .7s ease-in-out

.hiddenElement
	overflow: hidden
	opacity: 0
	position: relative
	transform: translateY(30px)
	transition: all 0.8s ease-in-out

.hiddenElementDelay
	@extend .hiddenElement
	transition: all 0.8s ease-in-out .5s

.isShowing
	opacity: 1
	transform: translateY(0px)