#calendar {
  margin-top: 100px; }
  #calendar h1 {
    color: white;
    font-family: "Painted Paradise";
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 20px; }
  #calendar iframe {
    border-radius: 10px; }

.blue, a, a:visited {
  color: #34338f; }

.green, a:hover {
  color: #add14d; }

@font-face {
  font-family: "Painted Paradise";
  src: url("../fonts/Painted Paradise.ttf") format("truetype"); }

body {
  background-color: #2a2975;
  overflow-x: hidden; }

p {
  font-family: "Lato"; }

a:hover {
  text-decoration: none; }

.navbar {
  background-color: white;
  border-bottom: 4px solid #add14d;
  height: 60px;
  transition: all 0.5s ease-in-out; }

.navbar .navbar-collapse {
  border-color: #34338f; }

.navbar-brand {
  padding-left: 15%;
  margin-top: -8px; }
  .navbar-brand img {
    transition: all 0.5s ease-in-out; }

.nav-index {
  font-size: 26px;
  margin-right: 100px;
  transition: all 0.5s ease-in-out; }
  .nav-index li {
    padding-right: 20px;
    margin-bottom: 5px; }
    @media (max-width: 768px) {
      .nav-index li a {
        background-color: white; } }

.navbar .navbar-nav > .active > a {
  background-color: #add14d;
  border-bottom: none; }
  .navbar .navbar-nav > .active > a:hover {
    background-color: #add14d; }

.navbar-nav li {
  padding-top: 20px; }
.navbar-nav a {
  color: #34338f;
  font-family: "Painted Paradise";
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out; }

ul.nav a {
  border-radius: 5px; }
  ul.nav a:hover {
    background-color: #add14d; }

.navbar .navbar-toggle {
  border-color: #34338f; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #34338f; }
  .navbar .navbar-toggle:hover {
    background-color: #34338f; }
    .navbar .navbar-toggle:hover .icon-bar {
      background-color: white; }

.scrolled-nav {
  height: 40px; }
  .scrolled-nav .navbar-brand img {
    width: 120px; }
  .scrolled-nav .nav-index {
    font-size: 22px; }
  .scrolled-nav .navbar-nav li {
    padding-top: 10px; }

#page-title {
  color: white;
  margin-top: 90px; }
  #page-title h1 {
    font-family: "Painted Paradise", cursive;
    font-size: 45px;
    letter-spacing: 2px; }

#title-img {
  border-radius: 5px; }

.darkImg {
  filter: brightness(50%); }

#motto, #founded, #sendoff {
  margin-top: 30px; }

#motto-box, #founded-box, #sendoff-box {
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px; }

#video-box, #gallery-box {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #add14d;
  height: 400px;
  margin-top: 30px; }
  #video-box p, #gallery-box p {
    margin-top: 100px; }

#logo-banner {
  background-color: white;
  height: 140px;
  margin-top: 30px; }
  #logo-banner img {
    display: inline;
    padding: 5px 15px; }

#ladybird {
  margin-left: 19%; }

#founded-box p {
  text-indent: -10px; }
  @media (max-width: 768px) {
    #founded-box p {
      text-align: center; } }
#founded-box i {
  color: #2a2975; }
#founded-box #founded-p {
  text-align: left;
  text-indent: 0px; }

.charity-list {
  margin-top: 35px; }

@media (min-width: 768px) {
  .charity-list-2 {
    margin-top: 35px; } }

#and-more {
  font-size: 25px; }

#sendoff-box a {
  font-size: 20px; }

#gallery-box p {
  margin-top: 100px; }

footer {
  height: 200px;
  border-top: 4px solid #add14d;
  margin-top: 50px; }

.connect-with {
  color: white;
  font-family: "Painted Paradise";
  letter-spacing: 2px;
  margin-top: 40px;
  padding-bottom: 10px; }

.social-media {
  color: #add14d; }
  .social-media a {
    border-radius: 5px;
    color: #add14d;
    margin-left: 10px;
    padding: 20px;
    padding-top: 30px;
    transition: all 0.5s ease-in-out; }
    .social-media a:hover {
      background-color: #add14d;
      color: #32308f; }

.copyright, .sitemap {
  color: white;
  font-size: 20px;
  margin-top: 40px; }
  .copyright a, .sitemap a {
    color: #add14d; }
    .copyright a:hover, .sitemap a:hover {
      color: #8ca842; }

.sitemap {
  margin-top: 20px; }
  .sitemap a {
    padding: 15px; }
