#calendar {
  margin-top: 100px; }
  @media (max-width: 768px) {
    #calendar {
      margin-top: 0px; } }
  #calendar h1 {
    color: white;
    font-family: "Painted Paradise";
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 20px; }
  #calendar iframe {
    border-radius: 10px; }

#contact-header {
  margin-top: 30px; }
  @media (max-width: 768px) {
    #contact-header {
      margin-top: 0px; } }
  #contact-header h1 {
    color: white;
    font-family: "Painted Paradise";
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 20px; }

#form article {
  background-color: white;
  border-radius: 5px;
  padding: 15px; }
  #form article p {
    font-size: 18px; }
    @media (max-width: 600px) {
      #form article p {
        font-size: 15px; } }

.blue, a, a:visited {
  color: #34338f; }

.green, a:hover {
  color: #add14d; }

@font-face {
  font-family: "Painted Paradise";
  src: url("../fonts/Painted Paradise.ttf") format("truetype"); }

#thank-you {
  margin-top: 50px; }

#thank-you article {
  background-color: white;
  border-radius: 5px;
  height: 350px;
  margin-bottom: 100px;
  padding: 15px; }
  #thank-you article p {
    font-size: 18px;
    line-height: 50px;
    margin-top: 100px; }
    @media (max-width: 600px) {
      #thank-you article p {
        font-size: 15px; } }

body {
  background-color: #2a2975;
  overflow-x: hidden; }

p {
  font-family: "Lato"; }

a:hover {
  text-decoration: none; }

.navbar {
  background-color: white;
  border-bottom: 4px solid #add14d;
  height: 60px;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 768px) {
    .navbar {
      background-color: transparent;
      border: none; } }

.navbar-brand {
  padding-left: 15%;
  margin-top: -8px; }
  .navbar-brand img {
    transition: all 0.5s ease-in-out; }
    @media (min-width: 768px) and (max-width: 1000px) {
      .navbar-brand img {
        width: 150px; } }
  @media (max-width: 768px) {
    .navbar-brand {
      width: 33%;
      margin-left: 20%; } }
  @media (max-width: 520px) {
    .navbar-brand {
      width: 25%;
      margin-left: 15%; } }

.nav-index {
  font-size: 26px;
  margin-right: 100px;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 1200px) {
    .nav-index {
      margin-right: 50px; } }
  @media (max-width: 1000px) {
    .nav-index {
      margin-right: 0px; } }
  @media (max-width: 768px) {
    .nav-index {
      margin-right: 0px;
      text-align: center; } }
  .nav-index li {
    padding-right: 20px;
    margin-bottom: 5px; }
    @media (max-width: 768px) {
      .nav-index li {
        padding-right: 0px; } }
    @media (max-width: 768px) {
      .nav-index li a {
        background-color: white; } }

.navbar .navbar-nav > .active > a {
  background-color: #add14d;
  border-bottom: none; }
  .navbar .navbar-nav > .active > a:hover {
    background-color: #add14d; }

.navbar-nav li {
  padding-top: 20px; }
  @media (max-width: 767px) {
    .navbar-nav li {
      padding-top: 0px; } }
.navbar-nav a {
  color: #34338f;
  font-family: "Painted Paradise";
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out; }

ul.nav a {
  border-radius: 5px; }
  ul.nav a:hover {
    background-color: #add14d; }

.navbar .navbar-toggle {
  border-color: #2a2975;
  background-color: white; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #2a2975; }
  .navbar .navbar-toggle:hover {
    background-color: #add14d; }
    .navbar .navbar-toggle:hover .icon-bar {
      background-color: #2a2975; }

.scrolled-nav {
  height: 40px; }
  .scrolled-nav .navbar-brand img {
    width: 120px;
    margin-left: 0%; }
  .scrolled-nav .nav-index {
    font-size: 22px; }
  .scrolled-nav .navbar-nav li {
    padding-top: 10px; }

#page-title {
  color: white;
  margin-top: 90px; }
  @media (max-width: 768px) {
    #page-title {
      margin-top: 20px; } }
  #page-title h1 {
    font-family: "Painted Paradise", cursive;
    font-size: 45px;
    letter-spacing: 2px; }

#mobile-logo {
  margin-top: 0px; }
  #mobile-logo img {
    padding: 10px; }
    @media (max-width: 500px) {
      #mobile-logo img {
        width: 150px; } }

#title-img {
  border: 2px solid #add14d;
  border-radius: 5px; }
  @media (max-width: 768px) {
    #title-img {
      margin-top: 20px;
      width: 100%;
      height: auto; } }

.darkImg {
  filter: brightness(50%); }

#intro-text {
  margin-top: 30px; }

#intro-text-box {
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 30px;
  text-indent: 30px; }
  @media (max-width: 768px) {
    #intro-text-box {
      font-size: 15px;
      line-height: 25px;
      text-align: left; } }
  @media (max-width: 420px) {
    #intro-text-box {
      padding: 15px; } }

#charities-box p {
  margin-top: 30px;
  text-indent: -25px; }
  @media (min-width: 600px) and (max-width: 768px) {
    #charities-box p {
      padding-left: 50px;
      padding-right: 20px; } }
  @media (max-width: 599px) {
    #charities-box p {
      margin-top: 20px;
      padding-left: 40px;
      padding-right: 10px; } }
@media (min-width: 600px) and (max-width: 768px) {
  #charities-box .charity-list-2 {
    margin-top: 20px; } }
@media (max-width: 599px) {
  #charities-box .charity-list-2 {
    margin-top: 12px; } }

#and-more {
  font-size: 25px; }
  @media (max-width: 420px) {
    #and-more {
      font-size: 18px; } }

#sendoff a {
  font-size: 20px; }

#video-box {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #add14d;
  height: 400px;
  margin-top: 30px; }
  #video-box p {
    margin-top: 100px; }

#logo-banner {
  background-color: white;
  height: 140px;
  margin-top: 30px; }
  @media (max-width: 1050px) {
    #logo-banner {
      height: 90px; } }
  @media (max-width: 460px) {
    #logo-banner {
      height: 75px; } }
  #logo-banner .logo-box {
    margin-left: 15%; }
    @media (max-width: 1450px) {
      #logo-banner .logo-box {
        margin-left: 12%; } }
    @media (max-width: 1300px) {
      #logo-banner .logo-box {
        margin-left: 8%; } }
    @media (max-width: 1200px) {
      #logo-banner .logo-box {
        margin-left: 4%; } }
    @media (max-width: 1050px) {
      #logo-banner .logo-box {
        margin-left: 10%; } }
    @media (max-width: 992px) {
      #logo-banner .logo-box {
        margin-left: 7%; } }
    @media (max-width: 900px) {
      #logo-banner .logo-box {
        margin-left: 2%; } }
    @media (max-width: 840px) {
      #logo-banner .logo-box {
        margin-left: 0%; } }
    @media (max-width: 767px) {
      #logo-banner .logo-box {
        margin-left: 20%; } }
    @media (max-width: 750px) {
      #logo-banner .logo-box {
        margin-left: 15%; } }
    @media (max-width: 675px) {
      #logo-banner .logo-box {
        margin-left: 10%; } }
    @media (max-width: 570px) {
      #logo-banner .logo-box {
        margin-left: 5%; }
        #logo-banner .logo-box #caritas {
          margin-left: 10%; } }
    @media (max-width: 530px) {
      #logo-banner .logo-box {
        margin-left: 0%; }
        #logo-banner .logo-box #caritas {
          margin-left: 7%; } }
    @media (max-width: 435px) {
      #logo-banner .logo-box {
        margin-left: 5%; }
        #logo-banner .logo-box #caritas {
          margin-left: 3%; } }
    @media (max-width: 400px) {
      #logo-banner .logo-box {
        margin-left: 0%; }
        #logo-banner .logo-box #caritas {
          margin-left: 0%; } }
  #logo-banner img {
    display: inline;
    padding: 5px 15px; }
  #logo-banner .wide-logo {
    width: 250px; }
    @media (max-width: 1200px) {
      #logo-banner .wide-logo {
        width: 225px; } }
    @media (max-width: 1050px) {
      #logo-banner .wide-logo {
        width: 200px; } }
    @media (max-width: 840px) {
      #logo-banner .wide-logo {
        width: 175px; } }
    @media (max-width: 767px) {
      #logo-banner .wide-logo {
        width: 200px; } }
    @media (max-width: 500px) {
      #logo-banner .wide-logo {
        width: 175px; } }
    @media (max-width: 435px) {
      #logo-banner .wide-logo {
        width: 140px; } }
    @media (max-width: 375px) {
      #logo-banner .wide-logo {
        width: 120px; } }
    @media (max-width: 330px) {
      #logo-banner .wide-logo {
        width: 110px; } }
  #logo-banner .box-logo {
    width: 100px; }
    @media (max-width: 1050px) {
      #logo-banner .box-logo {
        width: 75px; } }
    @media (max-width: 767px) {
      #logo-banner .box-logo {
        width: 100px; } }
    @media (max-width: 460px) {
      #logo-banner .box-logo {
        width: 85px; } }
    @media (max-width: 375px) {
      #logo-banner .box-logo {
        width: 75px; } }
    @media (max-width: 330px) {
      #logo-banner .box-logo {
        width: 70px; } }
  @media (max-width: 767px) {
    #logo-banner #rmhc {
      width: 75px; } }
  @media (max-width: 460px) {
    #logo-banner #rmhc {
      width: 60px; } }

#gallery {
  margin-top: 25px; }
  #gallery #myCarousel .carousel-control {
    border-radius: 5px; }
    #gallery #myCarousel .carousel-control:hover {
      background-color: #add14d; }
  #gallery #myCarousel .carousel-caption {
    position: relative;
    left: auto;
    right: auto; }
  #gallery img {
    border: 2px solid #add14d;
    border-radius: 5px;
    margin: 0 auto;
    height: 400px;
    width: auto; }
    @media (max-width: 600px) {
      #gallery img {
        height: 300px; } }
    @media (max-width: 450px) {
      #gallery img {
        height: 250px; } }
    @media (max-width: 350px) {
      #gallery img {
        height: 200px; } }

footer {
  height: 200px;
  border-top: 4px solid #add14d;
  margin-top: 75px; }

.connect-with {
  color: white;
  font-family: "Painted Paradise";
  letter-spacing: 2px;
  margin-top: 40px;
  padding-bottom: 10px; }

.social-media {
  color: #add14d; }
  .social-media a {
    border-radius: 5px;
    color: #add14d;
    margin-left: 10px;
    padding: 20px;
    padding-top: 30px;
    transition: all 0.5s ease-in-out; }
    .social-media a:hover {
      background-color: #add14d;
      color: #32308f; }

.copyright, .sitemap {
  color: white;
  font-size: 20px;
  margin-top: 40px; }
  .copyright a, .sitemap a {
    color: #add14d; }
    .copyright a:hover, .sitemap a:hover {
      color: #8ca842; }

.sitemap {
  margin-top: 20px; }
  .sitemap a {
    padding: 15px; }
